<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div class="campus-heading">Catch the Image</div>
    <div class="help">
        <p>This is a fun puzzle game. You'll be given some images (may be one or more than one) in each level and you have to solve that puzzle
            by relating the images to a specific thing like the ceo of a company or a new startup. Questions can be related to anything. Besides, 
            hints will also be provided for the levels after some time. The answer will contain only lowercase letters. Numeric values are also allowed.
            The winners will be awarded with cash prizes (or maybe goodies).  
        </p>
        <h2>Good Luck!!</h2>
    </div>

    <%- include('../includes/end.ejs') %>